<div class="forgot-wrapper">
  <section class="forgot-card">
    <h2>{{ isResetMode ? "Set New Password" : "Forgot Password" }}</h2>

    <p class="subtitle" *ngIf="!isResetMode">
      Enter your account email and we will send a password reset link.
    </p>

    <p class="subtitle" *ngIf="isResetMode">Enter your new password below.</p>

    <form
      *ngIf="!isResetMode"
      [formGroup]="requestForm"
      (ngSubmit)="sendResetLink()"
    >
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="Email"
      />

      <small
        class="error"
        *ngIf="submitted && rf['email'].errors?.['required']"
      >
        Email is required.
      </small>
      <small class="error" *ngIf="submitted && rf['email'].errors?.['email']">
        Enter a valid email address.
      </small>

      <button type="submit" [disabled]="isLoading">
        {{ isLoading ? "Sending..." : "Send Reset Link" }}
      </button>
    </form>

    <form
      *ngIf="isResetMode"
      [formGroup]="resetForm"
      (ngSubmit)="submitNewPassword()"
    >
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="New Password"
      />

      <small
        class="error"
        *ngIf="submitted && pf['password'].errors?.['required']"
      >
        New password is required.
      </small>
      <small
        class="error"
        *ngIf="submitted && pf['password'].errors?.['minlength']"
      >
        Password must be at least 6 characters.
      </small>
      <input
        id="confirmPassword"
        type="password"
        formControlName="confirmPassword"
        placeholder="Re-enter New Password"
      />

      <small
        class="error"
        *ngIf="submitted && pf['confirmPassword'].errors?.['required']"
      >
        Confirm password is required.
      </small>

      <button type="submit" [disabled]="isLoading">
        {{ isLoading ? "Resetting..." : "Reset Password" }}
      </button>
    </form>

    <p class="success" *ngIf="message">{{ message }}</p>
    <p class="error" *ngIf="error">{{ error }}</p>

    <a routerLink="/home" class="back-link">Back to Home</a>
  </section>
</div>

<app-footer></app-footer>
