<li class="lang-item" (click)="openLangModal()">
  <i class="bx bx-globe-alt"></i> {{ selectedLanguage }}
</li>

<!-- Modal -->
<div class="modal" *ngIf="isModalOpen" (click)="closeLangModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closeLangModal(); $event.stopPropagation()"
      >&times;</span
    >
    <h3>Select Language</h3>
    <button (click)="setLanguage('English')">English</button>
    <button (click)="setLanguage('Sinhala')">සිංහල</button>
  </div>
</div>
