<div class="nav">
  <ol>
    <!-- Logo -->
    <li class="logo">
      <a routerLink="/home">
        <img src="logo.png" alt="logo" width="120" height="35" />
      </a>
    </li>

    <!-- Search -->
    <li class="search-wrapper">
      <div class="search-bar">
        <div class="search-input">
          <i class="bx bx-search"></i>
          <input type="text" placeholder="Search events" />
        </div>
        <div class="location-input">
          <input type="text" value="Colombo, LK" />
        </div>
        <button class="search-btn">
          <i class="bx bx-search"></i>
        </button>
      </div>
    </li>

    <!-- Language -->
    <div class="color"><app-language-select></app-language-select></div>

    <!-- Menu -->
    <a routerLink="/discover" id="discover">Discover</a>
    <li class="ask-ai"><a routerLink="/ask-ai">Ask AI</a></li>
    <a href="javascript:void(0)" (click)="openLoginModal()" id="log">Login</a>
    <li>
      <a href="javascript:void(0)" id="sign" (click)="openSignupModal()"
        >Sign Up</a
      >
    </li>
  </ol>
</div>
