*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: "Roboto", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fffcfc; /* Sets a base background color */
    background-image: url("https://www.transparenttextures.com/patterns/church.png"); /* Sets a background pattern image */

}

a{
    text-decoration: none;
    color: black;
}